.footer {
    padding: 70px 0;
    text-align: center;
    background-color: #1A1A1A;
    &__row {
        @include flex($jc: center);
        margin-bottom: 50px;
    }
    &__copyright p {
        line-height: 1;
        color: rgba(255, 255, 255, 0.3);
    }
}

.nav {
    margin-right: 50px;
    & > * + * {
        margin-left: 50px;
    }
    &__item {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-family: Montserrat;
        line-height: 100%;
        color: $lightColor;
        transition: all 0.3s ease-in;
        &:hover {
            color: $sectionNameColor;
        }
    }
}

.socials {
    display: flex;
    & > * + * {
        margin-left: 30px;
    }
    &__item {
        width: 48px;
        height: 48px;
        @include flex($jc: center);
        border-radius: 50%;
        background-color: #C4C4C4;

        transition: all 0.3s ease-in;

        &:hover {
            background-color: $btnColor;

        }
    
    }
}




/* tablet */

@media (max-width: 1199px) {
    .footer {
        padding: 60px 0;
        &__row {
            margin-bottom: 40px;
        }
    }
}

/* Mobile */

@media (max-width: 899px) {
    .footer {
        padding: 50px 0;
        &__row {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    .nav {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

/* Mobile XS*/

@media (max-width: 599px) {
    .footer {
        padding: 40px 0;
        &__row {
            margin-bottom: 40px;
        }
        &__copyright p {
            line-height: 1.5;
        }
    }

    .nav {
        margin-bottom: 40px;
        @include flex($fdir: column);
        & > * + * {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    .socials {
        & > * + * {
            margin-left: 20px;
        }
    }
}