.header {
    position: relative;
    padding: 60px 0 100px;
    background-image: url("./../img/bg/header-bg.jpg");
    @include bgOverlay();
    &__buttons {
        @include flex();
    }
    &__description {
        @include flex($jc: center, $fdir: column);
        margin-top: 140px;
    }
    &__text {
        margin-top: 40px;
        max-width: 730px;
        font-size: 20px;
        line-height: auto;
        text-align: center;
        color: $lightColor;
    }
    &__scroll {
        margin-top: 148px;
        @include flex($jc: center);
    }
}


/* tablet */

@media (max-width: 1199px) {
    .header {
        padding: 60px 0 50px;
        &__description {
            margin-top: 100px;
        }
        &__text {
            margin-top: 35px;
            font-size: 18px;
        }
        &__scroll {
            margin-top: 129px;
        }
    }
}

/* Mobile */

@media (max-width: 899px) {
    .header {
        padding: 20px 0 50px;
        &__description {
            margin-top: 30px;
        }
        &__text {
            margin-top: 30px;
            max-width: 430px;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
        }
        &__scroll {
            margin-top: 80px;
        }
    }
}

/* Mobile XS*/

@media (max-width: 599px) {
    .header {
        padding: 20px 0 40px;
        background-image: url("./../img/bg/header-bg-600.jpg");
        &__scroll {
            margin-top: 50px;
        }
    }
}