    
h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 96px;
    line-height: 1;
}

.title {        //H2
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $sectionNameColor;
}

.subtitle {     //H3
    font-weight: 700;
    font-size: 48px;
    color: $titleColor;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    color: $titleColor;
}

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    color: $textColor;
}